header {
  height: 8%;
  width: 100%;
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header > h1 {
  margin: 0% 0% 0% 0%;
  font-family: 'Rampart One', cursive;
}

header > div {
  width: auto%;
  height: 100%;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 2% 0% 0%;
}

header > img {
  height: 85%;
  width: auto;
  margin: 0% 0% 0% 2%;
}
