.video-responsive {
  position: relative;
  height: 350px;
  width: 60%;
  align-self: center;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
