.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 92%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.movies-container-noscroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 92%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  overflow: hidden
}
