.movie-card {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 35%;
  margin: 2% 1% 1% 1%;
  position: relative;
}

.movie-img {
  height: 90%;
  width: 100%;
}

h2 {
  margin: 0% 0% 2% 0%;
}

.hover-info {
  height: 100%;
  width: 100%;
  z-index: 6;
  background-color: white;
  position: absolute;
  opacity: .9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.75em;
  color: purple;
}
