.popup-opacity {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  justify-content: center;
  background-color: white;
  opacity: .75;
}

.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  justify-content: center;
}

.popup-close {
  width: 100%;
  height: 6%;
  margin: 1% 1% 0% 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.popup-container {
  width: 90%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 10px;
  background: no-repeat center fixed;
  background-size: cover;
  z-index: 10;
  position: relative;
}

.popup-info {
  display: flex;
  width: 95%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
}

.popup-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.popup-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

.popup-poster {
  height: 90%;
  width: 88%;
}

.popup-details {
  text-align: left;
}

.popup-details > p {
  margin: 0% 0% 0% 1%;
}

.popup-details > h3 {
  margin-bottom: 1%;
}
